#h1{
    margin-top: 10%;
    margin-bottom: 90px;
}

.container-fluid{
    background-color: transparent;
    height: 60px;
    position: sticky;
}
.nav-link{
    font-size: x-large;
    font-weight: 400;
}
.dropdown-item{
    font-size: large;
    font-weight: 200;
}
#img1
{
    height: 50px;
    
}
.offcanvas-body ul li a
{
    font-size: x-large;
    font-weight: 400;
}
p {
    font-family: 'Rubik';
}
ul li a{
   
    transition: all 0.5s ease;
    margin: 5px;
}
ul li a:hover{
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section h2{
    margin-top: 10%;
}

.section {
    padding: 50px 20px;
    margin-bottom: 30px;
}
.common-h5 {
    color: #3b3663;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.common-h2 {
    color: #3b3663;
    font-size: 30px;
    line-height: 38px;
}

.text-center {
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';
    font-weight: 800;
}

p {
    font-family: 'Rubik';
    font-weight: 400;
}

.div1{
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
}

.img1{
    margin-left: 50px;
    margin-top: -10px;
  
}
h1
{
    text-align: center;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.div1 h2{
    margin-top: 100px;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div11{
    margin-top: 110px;
    border: solid gray;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
}
.main{
    display: flex;
 
}

#btn{
    width: 200px;
    padding: 10px;
    background-color: orange;
    position: relative;
    top: 15px;
    left: 20%;
}

.containers
{
    margin-top: 12%;
    margin-bottom: 0px;
}

.footer-col {
    float: left;
    width: 30%;
    margin-top: 45px;
    margin-left: 15px;
}

.footer-2-col {
    position: relative;
    left: 110px;
}

.footer-col h3 {
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-col p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
}

.footer-col i {
    color: #fff;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social-icons-footer i:hover {
    transform: translateY(-10px)
}

.footer-col.footer-2-col ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-col.footer-2-col ul li:hover {
    padding-left: 5px;
}

.footer-col.footer-2-col ul {
    list-style: none;
}

.footer-col a {
    color: #696687;
    text-decoration: none;
    padding-left: 10px;
}

.footer-col span {
    padding-left: 10px;
}