
.card5{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:whitesmoke;
    border: 2px solid black;
    width: 500px;
    height: 550px;
    margin-left:50px;
    margin-bottom: 40px;
    
  
  
  }
  .card5:hover{
    transform: scale(1.0);
    box-shadow: 10px 5px 20px rgb(9, 9, 9);
  
  }
  .img1{
    height: 500px;
    width: 500px;
  }
  .head{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0px;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .head1{
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 20px 0px;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 7%;
  
      
  }
  .head2{
    font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 2%;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .container-fluid{
    background-color: transparent;
    height: 60px;
    position: sticky;
}
.nav-link{
    font-size: x-large;
    font-weight: 400;
}
.dropdown-item{
    font-size: large;
    font-weight: 200;
}
#img1
{
    height: 50px;
    
}
.offcanvas-body ul li a
{
    font-size: x-large;
    font-weight: 400;
}
p {
    font-family: 'Rubik';
}
ul li a{
   
    transition: all 0.5s ease;
    margin: 5px;
}
ul li a:hover{
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .col
  {
    width: 350px;
  }
  .parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  margin: 70px 0;
  transition: 1s;
}
.parent:hover{
  transform: scale(1.01);
}

.main-imgd{
    display: inline-block;
    text-align: center;
    width: 550px;
    
}

.info-card{
  transition: 1s;
}

.info-card:hover{
  transform: scale(1.1);
}


.card-ser{
display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card-child{
border: 1px solid rgb(17, 17, 17);
border-radius: 10px;
margin: 10px;

height: 200px;
width: 250px;
background-color:rgb(230, 224, 224);
box-shadow: 10px 5px 10px grey;

}
.img-d{
  height: 100px;
  width: 100px;
  margin-top: 2px;
}

.card-child:hover{
transform: scale(1.1);
}
.head3{
  margin-top: 20px;
}
main{
  display: flex;
  margin-right: 20px;
  margin-left: 90px;
  margin-top: 15px;
  padding: 30px;
  margin: auto;
  
}

.small{
  height: 350px;
  width:500px;
  border: 1px solid black;
 margin: 15px;
 background-color: #f7f7fb;
 border-radius: 10px;
 
}
.small:hover{
  box-shadow: 10px 5px 25px;
  transform: scale(1.1);
}
.main1{
  display: flex;
  flex-wrap: wrap;
justify-content: center;

}
.small1{
  height: 200px;
  width: 400px;

  border: 1px solid gray;
 margin: 15px;
 background-color: #f7f7fb;
 border-radius: 10px 0px 10px;
 transition: 1s;
 
}
.small1:hover{
  box-shadow: 10px 5px 25px gray;
  transform: scale(0.1);
}
.img1{
  height: 100px;
  width: 120px;
  margin-top: 7px;
  margin-left: 140px;

}
.pra{
  text-align: center;
  margin-top: 10%;
}
  
  .containers
  {
      margin-top: 12%;
      margin-bottom: 0px;
  }
  
  .footer-col {
      float: left;
      width: 30%;
      margin-top: 45px;
      margin-left: 15px;
  }
  
  .footer-2-col {
      position: relative;
      left: 110px;
  }
  
  .footer-col h3 {
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Nunito";
      font-weight: 800;
      margin-bottom: 20px;
  }
  
  .footer-col p {
      color: #696687;
      font-size: 16px;
      font-family: "Rubik";
      font-weight: 400;
      line-height: 28px;
  }
  
  .footer-col i {
      color: #fff;
      background-color: #00DBDE;
      background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
      border-radius: 50px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-top: 25px;
      cursor: pointer;
      transition: all 0.5s ease;
  }
  
  .social-icons-footer i:hover {
      transform: translateY(-10px)
  }
  
  .footer-col.footer-2-col ul li {
      color: #696687;
      font-family: "Rubik";
      font-size: 16px;
      padding-bottom: 10px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.5s ease;
  }
  
  .footer-col.footer-2-col ul li:hover {
      padding-left: 5px;
  }
  
  .footer-col.footer-2-col ul {
      list-style: none;
  }
  
  .footer-col a {
      color: #696687;
      text-decoration: none;
      padding-left: 10px;
  }
  
  .footer-col span {
      padding-left: 10px;
  }
  .main{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    display: flex;
  }
  
   