

.container-fluid{
  background-color: transparent;
  height: 60px;
  position: sticky;
}
.nav-link{
  font-size: x-large;
  font-weight: 400;
}
.dropdown-item{
  font-size: large;
  font-weight: 200;
}
#img1
{
  height: 50px;
  
}
.offcanvas-body ul li a
{
  font-size: x-large;
  font-weight: 400;
}
p {
  font-family: 'Rubik';
}
ul li a{
 
  transition: all 0.5s ease;
  margin: 5px;
}
ul li a:hover{
  background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card5{

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:whitesmoke;
  /* border: 1px solid; */
  width: 400px;
  height: 500px;
 margin: 20px 0px;
  box-shadow: 10px 5px 20px gray;
  transition: 1s;
}
.card5:hover{
  transform: scale(1.05);
  

}

.blog {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin: 50px 0px; */
}
.img1{
  height: 500px;
  width: 500px;
}
.head1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0px;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    
}
.head2{
  font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 2%;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.col
{
  width: 350px;
}
 

#img1{
    height: 50px;
}
.main{
  display: flex;
  flex-wrap: wrap;
justify-content: center;

}
.small{
  height: 175px;
  width: 320px;
  border: 1px solid gray;
 margin: 15px;
 background-color: #f7f7fb;
}
.img{
  height: 80px;
  width: 80px;
  margin-top: 5px;
  margin-left: 100px;
  
}
.head5{
  text-align: center;
  margin-top: 15px;
}
.small:hover{
  box-shadow: 2px 2px 10px 2px gray ;
  /* transform: scale(1.1); */
  /* border: 1px solid rgb(39, 104, 209); */

}


.head5{
  text-align: center;
  margin-top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.head3{
  display: flex;
}
.img2{
  height: 80px;
  width: 80px;
  margin-top: 5px;
  text-align: center;
  margin-left: 100px;
 
}
.small1:hover{
  box-shadow: 10px 5px 25px;
  transform: scale(1.0);
}
.head6{
  background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Nunito";
  text-align: center;
  margin-top: 15px;
}
.main2{
  /* height: 200px;
  width: 250px; */
  display: flex;
  margin-top: 5%;
  margin-bottom: 40px;
  
}
.small2{
  height: 70px;
  width: 70px;
  border: 1px solid rgb(165, 1, 1);
 margin-top:25px;
 background-color: #f7f7fb;
 border-radius: 100%;
 margin-left: 5px;
 padding: 2px;

}
.small3{
  height: 150px;
  width: 450px;
  border: 1px solid black;
 margin: 15px;
 background-color: #f7f7fb;
 border-radius: 15px  15px  0px 0px ;
 
}
.small4{
  height: 100px;
  width: 250px;
  border: 1px solid black;
  margin-left: 100px;
  margin-bottom: 50%;

}


.containers
{
    margin-top: 5px;
    margin-bottom: 0px;
}

.footer-col {
    float: left;
    width: 30%;
    margin-top: 45px;
    margin-left: 15px;
}

.footer-2-col {
    position: relative;
    left: 110px;
}

.footer-col h3 {
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-col p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
}

.footer-col i {
    color: #fff;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social-icons-footer i:hover {
    transform: translateY(-10px)
}

.footer-col.footer-2-col ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-col.footer-2-col ul li:hover {
    padding-left: 5px;
}

.footer-col.footer-2-col ul {
    list-style: none;
}

.footer-col a {
    color: #696687;
    text-decoration: none;
    padding-left: 10px;
}

.footer-col span {
    padding-left: 10px;
}



 