
body
       {
           background-color: white;
       }

       h2{
           text-align: center;
           margin-top: 50px;
           margin-bottom: 90px;
       
       }

p {
   font-family: 'Rubik';
   font-weight: 400;
}

.div1{
   display: flex;
   margin-top: 100px;
   margin-left: 10px;
}

img{
 width: 50%;
 height: 400px;
 position: relative;
 left: 25%;
 border-radius: 20px;
 
}
h1
{
   text-align: center;
   background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.div1 h2{
   margin-top: 100px;
   background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.div11{
   margin-top: 80px;
   border: solid gray;
   margin-right: 50px;
   padding: 20px;
   border-radius: 10px;
}
.main{
   display: flex;

}
.dis
{
   text-align: center;
   border: solid gray;
   border-radius: 10px;
   padding: 20px;
   margin-top: 30px;
}