#head { 

    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 38px;
}

/*navabar*/

a {
    font-family: 'Rubik';
    font-weight: 400;
}

.container-fluid{
    background-color: transparent;
    height: 60px;
    position: sticky;
}
.nav-link{
    font-size: x-large;
    font-weight: 400;
}
.dropdown-item{

    font-size: large;
    font-weight: 200;
}
#img1{
    height: 50px;
}
.offcanvas-body ul li a
{
    font-size: x-large;
    font-weight: 400;
}
p {
    font-family: 'Rubik';
}
ul li a{
   
    transition: all 0.5s ease;
    margin: 5px;
}
ul li a:hover{
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.containers
{
    margin-top: 3%;
    margin-bottom: 0px;
}

.footer-col {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-top: 45px;
}

.footer-2-col {
    position: relative;
    left: 110px;
}

.footer-col h3 {
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 35%;
}

.footer-col p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
    margin-left: 25px;
}

.footer-col i {
    color: #fff;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social-icons-footer i:hover {
    transform: translateY(-10px)
}

.footer-col.footer-2-col ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-col.footer-2-col ul li:hover {
    padding-left: 5px;
}

.footer-col.footer-2-col ul {
    list-style: none;
}

.footer-col a {
    color: #696687;
    text-decoration: none;
    padding-left: 10px;
}

.footer-col span {
    padding-left: 10px;
}
.card
{
    border-radius: 20px;
}
.card:hover
{
    box-shadow: 3px 4px 6px;
}

.Traning{
    display: flex;

}

.imggroup{
    display: flex;
    margin-top: 50px;
    margin-left: 100PX;
    
}

.imagesim{
    justify-content: space-evenly;
    padding: 30px;
}
img
{
    border-radius: 20px;
}
#heads { 

    margin-top: 8%;
    margin-bottom: 50px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 38px;
}

@media screen and (max-width:768px)
 {


    .footer-col {
        float: none;
        width: 100%;
        margin-right: 0%;
        margin-top: 45px;
        text-align: center;
    }

    .footer-2-col {
        position: relative;
        left: 0px;
    }

    hr.footer-hr {
        margin: 30px 0px 0px;
    }
    .footer-col h3
    {
        text-align: center;
        position: relative;
        left: -10%;
    }

}
