
 
  .img1{
    height: 500px;
    width: 500px;
  }
  .head{
    font-family:Georgia, 'Times New Roman', Times, serif;
      margin-top: 7%;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

  }
  .head1{
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin-top: 2%;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      
  }
  .head2{
    font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 2%;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
  }
  .div1{
    display: flex;

  }
  .col{
    margin-top: 5%;
    height: 300px;
    width: 300px;
    display: flex;
  }
  .card1{
    margin-top: 5%;
    height: 300px;
    width: 500px;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(223, 221, 218);
    border: 2px solid black;
    padding: 20px;
  }
  .card1:hover{
    transform: scale(1.0);
    box-shadow: 10px 5px 20px rgb(9, 4, 0);
  }
.card6{
  border: 2px solid black;

}
.card6:hover{
  transform: scale(1.0);
  box-shadow: 10px 5px 15px rgb(9, 9, 9);
}
  
.container-fluid{
  background-color: transparent;
  height: 60px;
  position: sticky;
}
.nav-link{
  font-size: x-large;
  font-weight: 400;
}
.dropdown-item{
  font-size: large;
  font-weight: 200;
}
#img1
{
  height: 50px;
  
}
.offcanvas-body ul li a
{
  font-size: x-large;
  font-weight: 400;
}
p {
  font-family: 'Rubik';
}
ul li a{
 
  transition: all 0.5s ease;
  margin: 5px;
}
ul li a:hover{
  background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main{
  display: flex;
  margin-right: 20px;
  margin-left: 90px;
  margin-top: 15px;
  padding: 30px;
  
}

.small{
  height: 350px;
  width:500px;
  border: 1px solid black;
 margin: 15px;
 background-color: #f7f7fb;
 border-radius: 10px;
 
}
.small:hover{
  box-shadow: 10px 5px 25px;
  transform: scale(1.1);
}
.img{
  margin-left: 35px;
  margin-top: 20px;

}
.pra{
  text-align: center;
 margin-left: 5px;
 margin-top: 10%;
 font-family: Georgia, 'Times New Roman', Times, serif;

}
.pra1{
  text-align: center;

 margin-top: 1%;
 font-family: Georgia, 'Times New Roman', Times, serif;

}


.head1{
  background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 15px;
  

}
.main2{
  display: flex;
  margin-left: 10px;
  margin-left: 10px;
  height: 500px;
  margin-top: 10px;
  
}
.small1{
  height: 500px;
  width:500px;
  border: 1px solid black;
 margin: 70px;
 margin-left: 100px;
 background-color: #f7f7fb;
 box-shadow: 10px 5px 20px gray;
 transition: 1s;
 
}
.small1:hover{
  transform: scale(1.05);
}

.img1{
 
  height: 250px;
  width: 400px;
  margin: 15px;

  
}
.main3{
  display: flex;
  display: flex;
  margin-left: 10px;
  margin-left: 10px;
  height: 500px;
  margin-top: 20px;
}
.small2{
  height: 500px;
  width:500px;
  border: 1px solid black;
 margin: 70px;
 margin-left: 100px;
 margin-top: 10%;
 background-color: #f7f7fb;
 box-shadow: 10px 5px 20px gray;
 transition: 1s;
 
}
.small2:hover{
  transform: scale(1.05);
}

.img2{
 
  height: 250px;
  width: 400px;
  margin: 15px;

}

.containers
{
    margin-top: 15%;
    margin-bottom: 0px;
}

.footer-col {
    float: left;
    width: 30%;
    margin-top: 45px;
    margin-left: 15px;
}

.footer-2-col {
    position: relative;
    left: 110px;
}

.footer-col h3 {
    background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nunito";
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-col p {
    color: #696687;
    font-size: 16px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 28px;
}

.footer-col i {
    color: #fff;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.social-icons-footer i:hover {
    transform: translateY(-10px)
}

.footer-col.footer-2-col ul li {
    color: #696687;
    font-family: "Rubik";
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
}

.footer-col.footer-2-col ul li:hover {
    padding-left: 5px;
}

.footer-col.footer-2-col ul {
    list-style: none;
}

.footer-col a {
    color: #696687;
    text-decoration: none;
    padding-left: 10px;
}

.footer-col span {
    padding-left: 10px;
}

   