
 
  .img1{
    height: 500px;
    width: 500px;
  }
  .head1{
      font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 2%;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
  }
  .head2{
    font-family:Georgia, 'Times New Roman', Times, serif;
      margin: 2%;
      background: -webkit-linear-gradient(rgb(46, 12, 241), rgb(248, 2, 248));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
  }
  .card1{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(223, 221, 218);
    border: 2px solid black;
    padding: 20px;
  }
  .card1:hover{
    transform: scale(1.0);
    box-shadow: 10px 5px 20px rgb(9, 4, 0);
  }
.card6{
  border: 2px solid black;

}
.card6:hover{
  transform: scale(1.0);
  box-shadow: 10px 5px 15px rgb(9, 9, 9);
}
  
   